.active{
  background-color: lightgrey;
}
.mat-drawer{
  width: 200px;
  min-width: 200px;
  padding: 16px;
  background-color: rgb(209, 255, 255);
}
mat-drawer-container{
  position: fixed;
  height: 89%;
  min-height: 89%;
  width: 100%;
  min-width: 100%;
  background-color: transparent;
}
a{
  color: darkblue;
  text-decoration: none;
}
a:hover{
  font-weight: bold;
}
.active a{
  font-weight: bold;
}
