<div class="slider-wrap">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-logo.png" alt="Cars" />
  
      <div class="slider" style="color: #ec4841;">
  
      <div class="slider-controls">
        <a class="active" href="#0"></a>
        <a href="#0"></a>
        <a href="#0"></a>
        <a href="#0"></a>
        <a href="#0"></a>
      </div>
  
      <div class="slider-items-wrap">
  
        <div class="slider-item" style="color: #ec4841;">
          <h2>Lightning McQueen</h2>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-lightning-mcqueen.png" alt="Lightning McQueen" />
  
          <h3>Dodge Viper SRT10</h3>
  
          <table>
            <tr>
              <th>Color</th>
              <th>Gender</th>
            </tr>
            <tr>
              <td><strong>Red</strong></td>
              <td><strong>Male</strong></td>
            </tr>
          </table>
  
          <a class="button" href="#0"><span>Configure model</span></a>
          <a class="button alt" href="#0">Request a test drive</a>
        </div>
  
        <div class="slider-item" style="color: #ce7650;">
          <h2>Tow Mater</h2>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-mater.png" alt="Tow Mater" />
  
          <h3>1951 International Harvest</h3>
  
          <table>
            <tr>
              <th>Color</th>
              <th>Gender</th>
            </tr>
            <tr>
              <td><strong>Rust</strong></td>
              <td><strong>Male</strong></td>
            </tr>
          </table>
  
          <a class="button" href="#0"><span>Configure model</span></a>
          <a class="button alt" href="#0">Request a test drive</a>
        </div>
  
        <div class="slider-item" style="color: #8ac4fd;">
          <h2>Sally Carrera</h2>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-sally-carrera.png" alt="Sally Carrera" />
  
          <h3>2002 Porsche 911 Carrera</h3>
  
          <table>
            <tr>
              <th>Color</th>
              <th>Gender</th>
            </tr>
            <tr>
              <td><strong>Sky Blue</strong></td>
              <td><strong>Female</strong></td>
            </tr>
          </table>
  
          <a class="button" href="#0"><span>Configure model</span></a>
          <a class="button alt" href="#0">Request a test drive</a>
        </div>
        
        <div class="slider-item" style="color: #6ccc52;">
          <h2>Chick Hicks</h2>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-chick-hicks.png" alt="Chick Hicks" />
  
          <h3>1979 Shyster Cremlin</h3>
  
          <table>
            <tr>
              <th>Color</th>
              <th>Gender</th>
            </tr>
            <tr>
              <td><strong>Green</strong></td>
              <td><strong>Male</strong></td>
            </tr>
          </table>
  
          <a class="button" href="#0"><span>Configure model</span></a>
          <a class="button alt" href="#0">Request a test drive</a>
        </div>
        
        <div class="slider-item" style="color: #f0835a;">
          <h2>Snot Rod</h2>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/38273/cars-snot-rod.png" alt="Snot Rod" />
  
          <h3>1971 Plymouth Barracuda</h3>
  
          <table>
            <tr>
              <th>Color</th>
              <th>Gender</th>
            </tr>
            <tr>
              <td><strong>Orange</strong></td>
              <td><strong>Male</strong></td>
            </tr>
          </table>
  
          <a class="button" href="#0"><span>Configure model</span></a>
          <a class="button alt" href="#0">Request a test drive</a>
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  